<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.winton.demo" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".IndexActivity"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AnimDemoActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".KotlinTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DLTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InterpolatorDemoActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".ValueAnimatorDemoActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".WidgetDisplayActivity"/>
        <activity android:name=".KeyCodeToPyCodeActivity"/>

        <activity android:name=".launchermode.StandardActivity"
            android:launchMode="standard"/>
        <activity android:name=".launchermode.ModeListActivty"/>

        <activity android:name=".PicturePaperActivity"
            android:configChanges="orientation|keyboardHidden"
            />
    </application>

</manifest>